<html>
  <head>
    <title>Coop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <style>
    body {
      text-align: center;
    }
    </style>
  </head>
  <body>
    <ol style="text-align: right; display: flex; align-items: right;">
      <li><a href="/info.html">Information</a></li>
      <li><a href="/aboutus.html">About Us</a></li>
      <li><a href="https://www.waterfordmontessori.org">Main website</a></li>
      <li><a href="/blog.html">Blog</a></li>
    </ol>
    <br /><h1>Welcome!</h1>
    <p>The 8th Grade students at Waterford Montessori Academy are currently working on a duck coop.</p>
  </body> 
</html>
